.container{
    background-color: gray;
    padding: 10px;
}

.admin-table{
    display: flex;
    justify-content: space-around;
}

.userlist{
    background-color: white;
}

.ul{
    list-style-type: none;
}
